IMPORTING LIBRARIES

In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

IMPORTING DATASETS

In [3]:
data1=pd.read_csv("datasets_810_1496_airports.csv")
data1

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447
...,...,...,...,...,...,...,...
317,WRG,Wrangell Airport,Wrangell,AK,USA,56.48433,-132.36982
318,WYS,Westerly State Airport,West Yellowstone,MT,USA,44.68840,-111.11764
319,XNA,Northwest Arkansas Regional Airport,Fayetteville/Springdale/Rogers,AR,USA,36.28187,-94.30681
320,YAK,Yakutat Airport,Yakutat,AK,USA,59.50336,-139.66023
321,YUM,Yuma International Airport,Yuma,AZ,USA,32.65658,-114.60597

In [4]:
data2=pd.read_csv("flights.csv")
data=data2.head(100000)

C:\Users\MyPC\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
data

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2015,1,7,3,EV,4992,N837AS,ATL,BQK,1108,...,1208.0,-11.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
99996,2015,1,7,3,NK,394,N522NK,LAS,PHL,1108,...,1844.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
99997,2015,1,7,3,OO,5606,N582SW,SFO,BFL,1108,...,1232.0,7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
99998,2015,1,7,3,UA,1135,N38473,ORD,MCO,1109,...,1453.0,-1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
99999,2015,1,7,3,AA,74,N4XLAA,HOU,DFW,1109,...,1212.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

FINDING NULL VALUES

In [6]:
data.isnull().sum()

YEAR                       0
MONTH                      0
DAY                        0
DAY_OF_WEEK                0
AIRLINE                    0
FLIGHT_NUMBER              0
TAIL_NUMBER              167
ORIGIN_AIRPORT             0
DESTINATION_AIRPORT        0
SCHEDULED_DEPARTURE        0
DEPARTURE_TIME          2298
DEPARTURE_DELAY         2298
TAXI_OUT                2371
WHEELS_OFF              2371
SCHEDULED_TIME             0
ELAPSED_TIME            2613
AIR_TIME                2613
DISTANCE                   0
WHEELS_ON               2440
TAXI_IN                 2440
SCHEDULED_ARRIVAL          0
ARRIVAL_TIME            2440
ARRIVAL_DELAY           2613
DIVERTED                   0
CANCELLED                  0
CANCELLATION_REASON    97611
AIR_SYSTEM_DELAY       65375
SECURITY_DELAY         65375
AIRLINE_DELAY          65375
LATE_AIRCRAFT_DELAY    65375
WEATHER_DELAY          65375
dtype: int64

In [7]:
data.drop(columns=["CANCELLATION_REASON","AIR_SYSTEM_DELAY","SECURITY_DELAY","AIRLINE_DELAY","LATE_AIRCRAFT_DELAY","WEATHER_DELAY","TAIL_NUMBER"],inplace=True)

C:\Users\MyPC\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [8]:
data.drop(columns=["TAXI_OUT","WHEELS_OFF","WHEELS_ON","TAXI_IN"],inplace=True)

In [9]:
data.head(5)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED
0,2015,1,1,4,AS,98,ANC,SEA,5,2354.0,-11.0,205.0,194.0,169.0,1448,430,408.0,-22.0,0,0
1,2015,1,1,4,AA,2336,LAX,PBI,10,2.0,-8.0,280.0,279.0,263.0,2330,750,741.0,-9.0,0,0
2,2015,1,1,4,US,840,SFO,CLT,20,18.0,-2.0,286.0,293.0,266.0,2296,806,811.0,5.0,0,0
3,2015,1,1,4,AA,258,LAX,MIA,20,15.0,-5.0,285.0,281.0,258.0,2342,805,756.0,-9.0,0,0
4,2015,1,1,4,AS,135,SEA,ANC,25,24.0,-1.0,235.0,215.0,199.0,1448,320,259.0,-21.0,0,0

In [8]:
data.isnull().sum()

YEAR                      0
MONTH                     0
DAY                       0
DAY_OF_WEEK               0
AIRLINE                   0
FLIGHT_NUMBER             0
ORIGIN_AIRPORT            0
DESTINATION_AIRPORT       0
SCHEDULED_DEPARTURE       0
DEPARTURE_TIME         2298
DEPARTURE_DELAY        2298
SCHEDULED_TIME            0
ELAPSED_TIME           2613
AIR_TIME               2613
DISTANCE                  0
SCHEDULED_ARRIVAL         0
ARRIVAL_TIME           2440
ARRIVAL_DELAY          2613
DIVERTED                  0
CANCELLED                 0
dtype: int64

FILLING NAN VALUES

In [9]:
data["ARRIVAL_TIME"].fillna(data["ARRIVAL_TIME"].mean(),inplace=True)

C:\Users\MyPC\anaconda3\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [10]:
data["ARRIVAL_DELAY"].fillna(data["ARRIVAL_DELAY"].mean(),inplace=True)

In [11]:
data["DEPARTURE_TIME"].fillna(data["DEPARTURE_TIME"].mean(),inplace=True)

In [12]:
data["DEPARTURE_DELAY"].fillna(data["DEPARTURE_DELAY"].mean(),inplace=True)

In [13]:
data["ELAPSED_TIME"].fillna(data["ELAPSED_TIME"].mean(),inplace=True)

In [14]:
data["AIR_TIME"].fillna(data["AIR_TIME"].mean(),inplace=True)

In [15]:
data.isnull().any()

YEAR                   False
MONTH                  False
DAY                    False
DAY_OF_WEEK            False
AIRLINE                False
FLIGHT_NUMBER          False
ORIGIN_AIRPORT         False
DESTINATION_AIRPORT    False
SCHEDULED_DEPARTURE    False
DEPARTURE_TIME         False
DEPARTURE_DELAY        False
SCHEDULED_TIME         False
ELAPSED_TIME           False
AIR_TIME               False
DISTANCE               False
SCHEDULED_ARRIVAL      False
ARRIVAL_TIME           False
ARRIVAL_DELAY          False
DIVERTED               False
CANCELLED              False
dtype: bool

In [16]:
#count no of rows for each type
data.groupby("ARRIVAL_DELAY").size()

ARRIVAL_DELAY
-65.0      1
-61.0      1
-54.0      2
-53.0      1
-52.0      1
          ..
 1174.0    1
 1187.0    1
 1201.0    1
 1237.0    1
 1384.0    1
Length: 526, dtype: int64

In [17]:
data

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED
0,2015,1,1,4,AS,98,ANC,SEA,5,2354.0,-11.0,205.0,194.0,169.0,1448,430,408.0,-22.0,0,0
1,2015,1,1,4,AA,2336,LAX,PBI,10,2.0,-8.0,280.0,279.0,263.0,2330,750,741.0,-9.0,0,0
2,2015,1,1,4,US,840,SFO,CLT,20,18.0,-2.0,286.0,293.0,266.0,2296,806,811.0,5.0,0,0
3,2015,1,1,4,AA,258,LAX,MIA,20,15.0,-5.0,285.0,281.0,258.0,2342,805,756.0,-9.0,0,0
4,2015,1,1,4,AS,135,SEA,ANC,25,24.0,-1.0,235.0,215.0,199.0,1448,320,259.0,-21.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2015,1,7,3,EV,4992,ATL,BQK,1108,1102.0,-6.0,71.0,66.0,40.0,238,1219,1208.0,-11.0,0,0
99996,2015,1,7,3,NK,394,LAS,PHL,1108,1117.0,9.0,274.0,267.0,248.0,2176,1842,1844.0,2.0,0,0
99997,2015,1,7,3,OO,5606,SFO,BFL,1108,1101.0,-7.0,77.0,91.0,59.0,238,1225,1232.0,7.0,0,0
99998,2015,1,7,3,UA,1135,ORD,MCO,1109,1116.0,7.0,165.0,157.0,123.0,1005,1454,1453.0,-1.0,0,0
99999,2015,1,7,3,AA,74,HOU,DFW,1109,1100.0,-9.0,71.0,72.0,46.0,247,1220,1212.0,-8.0,0,0

APPLYING LABEL ENCODING

In [18]:
labelencoder_y=LabelEncoder()
data["AIRLINE"]=labelencoder_y.fit_transform(data["AIRLINE"])

C:\Users\MyPC\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [19]:
data["ORIGIN_AIRPORT"]=labelencoder_y.fit_transform(data["ORIGIN_AIRPORT"])

C:\Users\MyPC\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [20]:
data["DESTINATION_AIRPORT"]=labelencoder_y.fit_transform(data["DESTINATION_AIRPORT"])

C:\Users\MyPC\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

SEPARATING DEPENDENT AND INDEPENDENT VARIABLE

In [21]:
x= data.iloc[:,3:17].values
x

array([[4.000e+00, 1.000e+00, 9.800e+01, ..., 1.448e+03, 4.300e+02,
        4.080e+02],
       [4.000e+00, 0.000e+00, 2.336e+03, ..., 2.330e+03, 7.500e+02,
        7.410e+02],
       [4.000e+00, 1.100e+01, 8.400e+02, ..., 2.296e+03, 8.060e+02,
        8.110e+02],
       ...,
       [3.000e+00, 9.000e+00, 5.606e+03, ..., 2.380e+02, 1.225e+03,
        1.232e+03],
       [3.000e+00, 1.000e+01, 1.135e+03, ..., 1.005e+03, 1.454e+03,
        1.453e+03],
       [3.000e+00, 0.000e+00, 7.400e+01, ..., 2.470e+02, 1.220e+03,
        1.212e+03]])

In [22]:
y= data.iloc[:,-3].values>15
y

array([False, False, False, ..., False, False, False])

SPLITTING DATA INTO TEST AND TRAIN

In [23]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.90,random_state=0)

In [24]:
x_train, x_test, y_train, y_test

(array([[6.000e+00, 0.000e+00, 1.111e+03, ..., 1.389e+03, 1.040e+03,
         1.046e+03],
        [7.000e+00, 1.300e+01, 1.925e+03, ..., 6.470e+02, 1.240e+03,
         1.225e+03],
        [2.000e+00, 1.300e+01, 1.005e+03, ..., 1.670e+03, 1.935e+03,
         2.025e+03],
        ...,
        [6.000e+00, 1.100e+01, 1.701e+03, ..., 1.576e+03, 2.246e+03,
         2.312e+03],
        [6.000e+00, 4.000e+00, 4.964e+03, ..., 9.610e+02, 2.118e+03,
         2.132e+03],
        [1.000e+00, 1.000e+01, 5.000e+02, ..., 5.500e+02, 1.248e+03,
         1.304e+03]]),
 array([[4.000e+00, 3.000e+00, 1.172e+03, ..., 1.312e+03, 1.157e+03,
         1.138e+03],
        [7.000e+00, 1.100e+01, 1.756e+03, ..., 1.999e+03, 2.030e+02,
         1.580e+02],
        [7.000e+00, 0.000e+00, 1.179e+03, ..., 9.640e+02, 1.555e+03,
         1.558e+03],
        ...,
        [4.000e+00, 6.000e+00, 1.230e+02, ..., 1.020e+02, 8.030e+02,
         8.140e+02],
        [1.000e+00, 2.000e+00, 5.600e+01, ..., 4.130e+02, 1.121e+03,
         1.103e+03],
        [1.000e+00, 3.000e+00, 2.269e+03, ..., 4.040e+02, 1.610e+03,
         1.558e+03]]),
 array([False, False,  True, ...,  True, False,  True]),
 array([False, False, False, ..., False, False, False]))

FINDIND ACCURACY USING DECISION TREE CLASSIFIER

In [25]:
pipe=Pipeline([("sc",StandardScaler()),("dt",DecisionTreeClassifier(criterion="entropy",random_state=0))])
pipe.fit(x_train,y_train)

Pipeline(memory=None,
         steps=[('sc',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('dt',
                 DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None,
                                        criterion='entropy', max_depth=None,
                                        max_features=None, max_leaf_nodes=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1, min_samples_split=2,
                                        min_weight_fraction_leaf=0.0,
                                        presort='deprecated', random_state=0,
                                        splitter='best'))],
         verbose=False)

In [34]:
from joblib import dump
dump(pipe,"pipe.save")

['pipe.save']

In [26]:
y_pred=pipe.predict(x_test)
y_pred

array([False, False, False, ..., False, False, False])

In [27]:
accuracy_score(y_test, y_pred)

0.9356777777777778

In [28]:
from sklearn.metrics import roc_curve, auc
predictions =pipe.predict(x_test)

In [29]:
from sklearn.metrics import confusion_matrix,classification_report
confusion_matrix(y_test,predictions)

array([[54781,  2569],
       [ 3220, 29430]], dtype=int64)

In [30]:
target = ['0', '1']
print(classification_report(y_test,predictions, target_names=target))

              precision    recall  f1-score   support

           0       0.94      0.96      0.95     57350
           1       0.92      0.90      0.91     32650

    accuracy                           0.94     90000
   macro avg       0.93      0.93      0.93     90000
weighted avg       0.94      0.94      0.94     90000

FINDING ACCURACY USING LOGISTIC REGRESSION

In [31]:
lr=LogisticRegression()
lr.fit(x_train,y_train)
y_pred=lr.predict(x_test)
y_pred

C:\Users\MyPC\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

array([False, False, False, ..., False, False, False])

In [32]:
y_test

array([False, False, False, ..., False, False, False])

In [33]:
accuracy_score(y_test,y_pred)

0.9453444444444444