IMPORTING DATASETS

In [5]:
data2=pd.read_csv("flights.csv")
data=data2.head(100000)

C:\Users\MyPC\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
data

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2015,1,7,3,EV,4992,N837AS,ATL,BQK,1108,...,1208.0,-11.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
99996,2015,1,7,3,NK,394,N522NK,LAS,PHL,1108,...,1844.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
99997,2015,1,7,3,OO,5606,N582SW,SFO,BFL,1108,...,1232.0,7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
99998,2015,1,7,3,UA,1135,N38473,ORD,MCO,1109,...,1453.0,-1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
99999,2015,1,7,3,AA,74,N4XLAA,HOU,DFW,1109,...,1212.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

FINDING NULL VALUES

In [7]:
data.isnull().sum()

YEAR                       0
MONTH                      0
DAY                        0
DAY_OF_WEEK                0
AIRLINE                    0
FLIGHT_NUMBER              0
TAIL_NUMBER              167
ORIGIN_AIRPORT             0
DESTINATION_AIRPORT        0
SCHEDULED_DEPARTURE        0
DEPARTURE_TIME          2298
DEPARTURE_DELAY         2298
TAXI_OUT                2371
WHEELS_OFF              2371
SCHEDULED_TIME             0
ELAPSED_TIME            2613
AIR_TIME                2613
DISTANCE                   0
WHEELS_ON               2440
TAXI_IN                 2440
SCHEDULED_ARRIVAL          0
ARRIVAL_TIME            2440
ARRIVAL_DELAY           2613
DIVERTED                   0
CANCELLED                  0
CANCELLATION_REASON    97611
AIR_SYSTEM_DELAY       65375
SECURITY_DELAY         65375
AIRLINE_DELAY          65375
LATE_AIRCRAFT_DELAY    65375
WEATHER_DELAY          65375
dtype: int64

In [8]:
data.drop(columns=["CANCELLATION_REASON","AIR_SYSTEM_DELAY","SECURITY_DELAY","AIRLINE_DELAY","LATE_AIRCRAFT_DELAY","WEATHER_DELAY","TAIL_NUMBER"],inplace=True)

C:\Users\MyPC\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [9]:
data.drop(columns=["YEAR","MONTH","DAY","TAXI_OUT","WHEELS_OFF","WHEELS_ON","TAXI_IN"],inplace=True)

In [10]:
data.drop(columns=["DAY_OF_WEEK","ORIGIN_AIRPORT","DESTINATION_AIRPORT","ELAPSED_TIME","AIR_TIME","DISTANCE"],inplace=True)

In [11]:
data.drop(columns=["SCHEDULED_TIME"],inplace=True)

In [12]:
data.drop(columns=["DIVERTED","CANCELLED"],inplace=True)

In [13]:
data

,AIRLINE,FLIGHT_NUMBER,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY
0,AS,98,5,2354.0,-11.0,430,408.0,-22.0
1,AA,2336,10,2.0,-8.0,750,741.0,-9.0
2,US,840,20,18.0,-2.0,806,811.0,5.0
3,AA,258,20,15.0,-5.0,805,756.0,-9.0
4,AS,135,25,24.0,-1.0,320,259.0,-21.0
...,...,...,...,...,...,...,...,...
99995,EV,4992,1108,1102.0,-6.0,1219,1208.0,-11.0
99996,NK,394,1108,1117.0,9.0,1842,1844.0,2.0
99997,OO,5606,1108,1101.0,-7.0,1225,1232.0,7.0
99998,UA,1135,1109,1116.0,7.0,1454,1453.0,-1.0
99999,AA,74,1109,1100.0,-9.0,1220,1212.0,-8.0

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   AIRLINE              100000 non-null  object
 1   FLIGHT_NUMBER        100000 non-null  int64
 2   SCHEDULED_DEPARTURE  100000 non-null  int64
 3   DEPARTURE_TIME       97702 non-null   float64
 4   DEPARTURE_DELAY      97702 non-null   float64
 5   SCHEDULED_ARRIVAL    100000 non-null  int64
 6   ARRIVAL_TIME         97560 non-null   float64
 7   ARRIVAL_DELAY        97387 non-null   float64
dtypes: float64(4), int64(3), object(1)
memory usage: 6.1+ MB

In [15]:
data.head(5)

,AIRLINE,FLIGHT_NUMBER,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY
0,AS,98,5,2354.0,-11.0,430,408.0,-22.0
1,AA,2336,10,2.0,-8.0,750,741.0,-9.0
2,US,840,20,18.0,-2.0,806,811.0,5.0
3,AA,258,20,15.0,-5.0,805,756.0,-9.0
4,AS,135,25,24.0,-1.0,320,259.0,-21.0

In [16]:
data.isnull().sum()

AIRLINE                   0
FLIGHT_NUMBER             0
SCHEDULED_DEPARTURE       0
DEPARTURE_TIME         2298
DEPARTURE_DELAY        2298
SCHEDULED_ARRIVAL         0
ARRIVAL_TIME           2440
ARRIVAL_DELAY          2613
dtype: int64

FILLING NAN VALUES

In [17]:
data["ARRIVAL_TIME"].fillna(data["ARRIVAL_TIME"].mean(),inplace=True)

C:\Users\MyPC\anaconda3\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [18]:
data["ARRIVAL_DELAY"].fillna(data["ARRIVAL_DELAY"].mean(),inplace=True)

In [19]:
data["DEPARTURE_TIME"].fillna(data["DEPARTURE_TIME"].mean(),inplace=True)

In [20]:
data["DEPARTURE_DELAY"].fillna(data["DEPARTURE_DELAY"].mean(),inplace=True)

In [21]:
data.isnull().any()

AIRLINE                False
FLIGHT_NUMBER          False
SCHEDULED_DEPARTURE    False
DEPARTURE_TIME         False
DEPARTURE_DELAY        False
SCHEDULED_ARRIVAL      False
ARRIVAL_TIME           False
ARRIVAL_DELAY          False
dtype: bool

In [23]:
#count no of rows for each type
data

,AIRLINE,FLIGHT_NUMBER,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY
0,AS,98,5,2354.0,-11.0,430,408.0,-22.0
1,AA,2336,10,2.0,-8.0,750,741.0,-9.0
2,US,840,20,18.0,-2.0,806,811.0,5.0
3,AA,258,20,15.0,-5.0,805,756.0,-9.0
4,AS,135,25,24.0,-1.0,320,259.0,-21.0
...,...,...,...,...,...,...,...,...
99995,EV,4992,1108,1102.0,-6.0,1219,1208.0,-11.0
99996,NK,394,1108,1117.0,9.0,1842,1844.0,2.0
99997,OO,5606,1108,1101.0,-7.0,1225,1232.0,7.0
99998,UA,1135,1109,1116.0,7.0,1454,1453.0,-1.0
99999,AA,74,1109,1100.0,-9.0,1220,1212.0,-8.0

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   AIRLINE              100000 non-null  object
 1   FLIGHT_NUMBER        100000 non-null  int64
 2   SCHEDULED_DEPARTURE  100000 non-null  int64
 3   DEPARTURE_TIME       100000 non-null  float64
 4   DEPARTURE_DELAY      100000 non-null  float64
 5   SCHEDULED_ARRIVAL    100000 non-null  int64
 6   ARRIVAL_TIME         100000 non-null  float64
 7   ARRIVAL_DELAY        100000 non-null  float64
dtypes: float64(4), int64(3), object(1)
memory usage: 6.1+ MB

APPLYING LABEL ENCODING

In [25]:
labelencoder_y=LabelEncoder()
data["AIRLINE"]=labelencoder_y.fit_transform(data["AIRLINE"])

C:\Users\MyPC\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

SEPARATING DEPENDENT AND INDEPENDENT VARIABLE

In [27]:
x= data.iloc[:,0:7]
x

,AIRLINE,FLIGHT_NUMBER,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_ARRIVAL,ARRIVAL_TIME
0,1,98,5,2354.0,-11.0,430,408.0
1,0,2336,10,2.0,-8.0,750,741.0
2,11,840,20,18.0,-2.0,806,811.0
3,0,258,20,15.0,-5.0,805,756.0
4,1,135,25,24.0,-1.0,320,259.0
...,...,...,...,...,...,...,...
99995,4,4992,1108,1102.0,-6.0,1219,1208.0
99996,8,394,1108,1117.0,9.0,1842,1844.0
99997,9,5606,1108,1101.0,-7.0,1225,1232.0
99998,10,1135,1109,1116.0,7.0,1454,1453.0
99999,0,74,1109,1100.0,-9.0,1220,1212.0

In [28]:
data.head(10)

,AIRLINE,FLIGHT_NUMBER,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY
0,1,98,5,2354.0,-11.0,430,408.0,-22.0
1,0,2336,10,2.0,-8.0,750,741.0,-9.0
2,11,840,20,18.0,-2.0,806,811.0,5.0
3,0,258,20,15.0,-5.0,805,756.0,-9.0
4,1,135,25,24.0,-1.0,320,259.0,-21.0
5,3,806,25,20.0,-5.0,602,610.0,8.0
6,8,612,25,19.0,-6.0,526,509.0,-17.0
7,11,2013,30,44.0,14.0,803,753.0,-10.0
8,0,1112,30,19.0,-11.0,545,532.0,-13.0
9,3,1173,30,33.0,3.0,711,656.0,-15.0

In [29]:
y= data.iloc[:,-1]<15
y

0        True
1        True
2        True
3        True
4        True
         ...
99995    True
99996    True
99997    True
99998    True
99999    True
Name: ARRIVAL_DELAY, Length: 100000, dtype: bool

SPLITTING DATA INTO TEST AND TRAIN

In [30]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.30,random_state=0)

In [31]:
x_train, x_test, y_train, y_test

(       AIRLINE  FLIGHT_NUMBER  SCHEDULED_DEPARTURE  DEPARTURE_TIME  \
 42865       10            606                 1809          1824.0
 91446       11           1883                 1805          2144.0
 66374       13            920                  905           905.0
 79106       11           1732                  515           512.0
 13404        5            447                 2130          2132.0
 ...        ...            ...                  ...             ...
 21243       11            583                 1225          1225.0
 45891        1            414                 2230          2243.0
 42613       11           1701                 1755          1842.0
 43567        4           4964                 1859          1907.0
 68268       10            500                 1056          1101.0

        DEPARTURE_DELAY  SCHEDULED_ARRIVAL  ARRIVAL_TIME
 42865             15.0               2059        2108.0
 91446            219.0               2058          41.0
 66374              0.0               1025        1029.0
 79106             -3.0                631         634.0
 13404              2.0               2305        2308.0
 ...                ...                ...           ...
 21243              0.0               1505        1501.0
 45891             13.0               2315        2338.0
 42613             47.0               2246        2312.0
 43567              8.0               2118        2132.0
 68268              5.0               1248        1304.0

 [70000 rows x 7 columns],
        AIRLINE  FLIGHT_NUMBER  SCHEDULED_DEPARTURE  DEPARTURE_TIME  \
 3582         3           1172                 1015          1016.0
 60498       11           1756                 1950          2001.0
 53227        0           1179                 1230          1232.0
 21333       13           2288                 1230          1236.0
 3885         9           5265                 1036          1037.0
 ...        ...            ...                  ...             ...
 86308        3           1757                 1250          1251.0
 48870        0           1075                  810           833.0
 34940        4           3935                  947           946.0
 21964        9           5521                 1306          1315.0
 27631       13           1581                 1845          1904.0

        DEPARTURE_DELAY  SCHEDULED_ARRIVAL  ARRIVAL_TIME
 3582               1.0               1157        1138.0
 60498             11.0                203         158.0
 53227              2.0               1555        1558.0
 21333              6.0               1345        1349.0
 3885               1.0               1434        1441.0
 ...                ...                ...           ...
 86308              1.0               1955        1959.0
 48870             23.0               1055        1126.0
 34940             -1.0               1219        1207.0
 21964              9.0               1731        1733.0
 27631             19.0               2025        2041.0

 [30000 rows x 7 columns],
 42865     True
 91446    False
 66374     True
 79106     True
 13404     True
          ...
 21243     True
 45891    False
 42613    False
 43567     True
 68268    False
 Name: ARRIVAL_DELAY, Length: 70000, dtype: bool,
 3582      True
 60498     True
 53227     True
 21333     True
 3885      True
          ...
 86308     True
 48870    False
 34940     True
 21964     True
 27631    False
 Name: ARRIVAL_DELAY, Length: 30000, dtype: bool)

FINDIND ACCURACY USING DECISION TREE CLASSIFIER

In [37]:
pipe=Pipeline([("sc",StandardScaler()),("dt",DecisionTreeClassifier(criterion="entropy",random_state=0))])
pipe.fit(x_train,y_train)

Pipeline(memory=None,
         steps=[('sc',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('dt',
                 DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None,
                                        criterion='entropy', max_depth=None,
                                        max_features=None, max_leaf_nodes=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1, min_samples_split=2,
                                        min_weight_fraction_leaf=0.0,
                                        presort='deprecated', random_state=0,
                                        splitter='best'))],
         verbose=False)

In [38]:
Accuracy_score = pipe.score(x_test, y_test)
print(Accuracy_score)

0.9079666666666667

In [39]:
y_pred=pipe.predict(x_test)
y_pred

array([ True,  True,  True, ...,  True,  True, False])

In [41]:
from sklearn.metrics import roc_curve, auc
predictions =pipe.predict(x_test)

In [42]:
from sklearn.metrics import confusion_matrix,classification_report
confusion_matrix(y_test,predictions)

array([[ 9715,  1458],
       [ 1303, 17524]], dtype=int64)

In [43]:
target = ['0', '1']
print(classification_report(y_test,predictions, target_names=target))

              precision    recall  f1-score   support

           0       0.88      0.87      0.88     11173
           1       0.92      0.93      0.93     18827

    accuracy                           0.91     30000
   macro avg       0.90      0.90      0.90     30000
weighted avg       0.91      0.91      0.91     30000

FINDING ACCURACY USING LOGISTIC REGRESSION

In [44]:
lr=LogisticRegression()
lr.fit(x_train,y_train)
y_pred=lr.predict(x_test)
y_pred

C:\Users\MyPC\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

array([ True,  True,  True, ...,  True,  True,  True])

In [45]:
y_test

3582      True
60498     True
53227     True
21333     True
3885      True
         ...
86308     True
48870    False
34940     True
21964     True
27631    False
Name: ARRIVAL_DELAY, Length: 30000, dtype: bool

In [46]:
accuracy_score(y_test,y_pred)

0.8773

In [48]:
from joblib import dump
import pickle
pickle.dump(pipe, open('pipe.H5','wb'))

In [50]:
model = pickle.load(open('pipe.H5','rb'))
print(model.predict([[1,98,5,2345,-16,430,409]]))

[ True]